<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport">
    <title>Hugh Lane</title>

    <meta name="Author"
        content="Aleksandra Jaworska Gareth Walsh Edward Xilong Zhang Yue Yu Pragya Vashishtha I am so happy says Edward">
    <meta name="description"
        content="Hugh Lane Gallery houses the foremost public collection of contemporary art in Ireland; the gallery also has a dynamic temporary exhibitions programme often encompassing the permanent collection. " />
    <meta name="keywords"
        content="Art Gallery Dublin, Irish Exhibitions, Modern Art Galleries, Contemporary Exhibitions, Things to do in Dublin, tourist attraction Ireland, Places To Visit Ireland, Places to Visit Dublin" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../styles/stylesheet.css" />
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</head>

<body>
    <div class="page-header">
        <h1 class="titleHeader float-left ml-4 mt-2 "><a href="../../index.html">HUGH LANE GALLERY</a></h1>
        <h1 class="titleHeader float-right mr-4 mt-2 "><a href="../../index.html">DÁNLANN AN HUGH LANE</a></h1>

        <h2 class="fee"><a>Admission free </a></h2>

        <!-- Navigation menu -->
        <nav class="navbar navbar-expand-sm navbar-fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Art
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Collections </a>
                            <a class="dropdown-item" href="#">Exhibitions</a>
                            <a class="dropdown-item" href="#">Artists A-Z </a>
                            <a class="dropdown-item" href="#">Publications A-Z</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown  px-4">
                        <a class="nav-link dropdown-toggle text-dark" href="../visit.html" id="navbarDropdown"
                            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Visit
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../visit.html#opening">Opening Hours</a>
                            <a class="dropdown-item" href="../visit.html#access">Access & Facilities</a>
                            <a class="dropdown-item" href="../visit.html#family">Family Tours</a>
                            <a class="dropdown-item" href="../visit.html#guided">Guided Tours</a>
                            <a class="dropdown-item" href="../visit.html#cafe">Café and Bookshop</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown  px-4">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            What's on
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Collections </a>
                            <a class="dropdown-item" href="#">Exhibitions</a>
                            <a class="dropdown-item" href="#">Artists A-Z </a>
                            <a class="dropdown-item" href="#">Publications A-Z</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown  px-4">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Learn & Engage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="components/learn-engage.html">Courses </a>
                            <a class="dropdown-item" href="components/learn-engage.html">Programmes</a>
                            <a class="dropdown-item" href="components/learn-engage.html">Talks </a>
                            <a class="dropdown-item" href="components/learn-engage.html">Kids Club</a>
                        </div>
                    </li>
                    <li class="nav-item  px-4">
                        <a class="nav-link  text-dark" href="../bookshop.html">Shop</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

    </div>

    <div class="mt-2 mx-5 my-5">
        <div id="main-content">
            <!-- Main Content -->
            <div class="clearfix">
                <h2 class="hugh-lane-blue-color page-title font-weight-bold mb-5 float-left">Joseph Beuys: From the Secret Block to Rosc</h2>
                <p class="float-right"><a href="#"> <i class="fa fa-print" aria-hidden="true"></i>Print </a></p>
            </div>
            <div class="about-content clearfix">
                <img class="w-25 h-25 float-left mr-4 mb-5" src="../../photos/hand.png"
                    alt="An coloured oil painting of Sir Hugh Lane against a green background. The images changes to a sepia filter when it is hovered by a mouse.">

                <p>Hugh Lane Gallery will mark the Joseph Beuys centenary in 2021 with a focused exhibition
                    looking back on the artist’s relationship to Ireland. It will include the three blackboards that Beuys created in the Gallery in October
                    1974 while giving a lecture during the exhibition, The Secret Block for a Secret Person in Ireland.
                <p class="card-text"><small class="text-muted">Logan Sisley<br>
                    t: +353 1 222 5562</br>logan.sisley@dublincity.ie</small></p>
            </div></p>
            </div>
        </div>
    </div>
    <div id="footer" class="bg-info">

        <!-- Navigation menu -->
        <nav class="navbar navbar-expand-sm ml-4 mr-5 bg-info">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="hugh-lane.html">Hugh Lane</a>
                            <a class="dropdown-item" href="charlemont-house.html">Charlemont House</a>
                            <a class="dropdown-item" href="the-gallery.html">The Gallery</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Related Documents</a>
                        </div>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link text-white" href="#">Support</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="#">Contact</a>
                    </li>
                    <li class="nav-item px-4">
                        <a class="nav-link text-white" href="#">Career</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary float-right" onclick="topFunction()">Top</button>
            </div>
        </nav>
        <!-- <div class="jumbotron"> -->
        <div class="ml-5 mr-5">
            <div class="clearfix">
                <div class="form-group float-left">
                    <h2 class="footer-text text-white"> <label for="mailList">
                            <br>Join our mailing list:</label> </h2>
                    <div class="input-group-append">
                        <input type="text" class="form-control w-100" id="mailList">
                        <button type="button" class="btn btn-primary ml-2">Join</button>
                    </div>
                    <!--                <div>-->
                    <!--                    <br>  <br>-->
                    <!--                    <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;-->
                    <!--                    <a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp;-->
                    <!--                    <a href="#" class="fa fa-instagram"></a>&nbsp;&nbsp;-->
                    <!--                    <a href="#" class="fa fa-youtube"></a>&nbsp;&nbsp;-->
                    <!--                    <a href="#" class="fa fa-linkedin"></a>&nbsp;&nbsp;-->
                    <!--                </div>-->
                    <div>
                        <br> <br>
                        <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;
                        <a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp;
                        <a href="#" class="fa fa-instagram"></a>&nbsp;&nbsp;
                        <a href="#" class="fa fa-youtube"></a>&nbsp;&nbsp;
                        <a href="#" class="fa fa-linkedin"></a>&nbsp;&nbsp;
                    </div>

                </div>
                <div class="float-right">
                    <h2><br>Charlemont House, Parnell Square N, <br>Rotunda Dublin, D01 F2X9
                        <br> <small>Closed today </small>
                    </h2>
                    <h2 class="mt-4"><br>High Contrast Mode</h2>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-center float-none">
                <a class="p-4 text-dark" href="#">Privacy Policy</a>
                <a class="p-4 text-dark" href="#">Terms of use</a>
            </div>
        </div>
        <!-- </div> -->
    </div>


</body>

</html>