<nav class="navbar navbar-expand-sm ml-4 mr-5 bg-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    About
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Hugh Lane</a>
                    <a class="dropdown-item" href="#">Charlemont House</a>
                    <a class="dropdown-item" href="#">The Gallery</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Related Documents</a>
                </div>
            </li>
            <li class="nav-item px-4" >
                <a class="nav-link text-white" href="#">Support</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link text-white" href="#">Contact</a>
            </li>
            <li class="nav-item px-4">
                <a class="nav-link text-white" href="#">Career</a>
            </li>
        </ul>
        <button type="button" class="btn btn-primary float-right" onclick="topFunction()">Top</button>
    </div>
</nav>
<!-- <div class="jumbotron"> -->
<div class="ml-5 mr-5">
    <div class="clearfix"> 
    <div class="form-group float-left">
        <h2 class="footer-text text-white"> <label for="mailList">
            <br>Join our mailing list:</label> </h2>
        <div class="input-group-append">
            <input type="text" class="form-control w-100" id="mailList">
            <button type="button" class="btn btn-primary ml-2">Join</button>    
        </div>
<!--                <div>-->
<!--                    <br>  <br>-->
<!--                    <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;-->
<!--                    <a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp;-->
<!--                    <a href="#" class="fa fa-instagram"></a>&nbsp;&nbsp;-->
<!--                    <a href="#" class="fa fa-youtube"></a>&nbsp;&nbsp;-->
<!--                    <a href="#" class="fa fa-linkedin"></a>&nbsp;&nbsp;-->
<!--                </div>-->
        <div>
            <br>  <br>
            <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;
            <a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp;
            <a href="#" class="fa fa-instagram"></a>&nbsp;&nbsp;
            <a href="#" class="fa fa-youtube"></a>&nbsp;&nbsp;
            <a href="#" class="fa fa-linkedin"></a>&nbsp;&nbsp;
        </div>

    </div>
    <div class="float-right">
        <h2><br>Charlemont House, Parnell Square N, <br>Rotunda Dublin, D01 F2X9
            <br> <small>Closed today </small>
        </h2>
        <h2 class= "mt-4"><br>High Contrast Mode</h2>
    </div>
</div>

    <div class="d-flex flex-row justify-content-center float-none">
        <a class="p-4 text-dark" href="#">Privacy Policy</a>
        <a class="p-4 text-dark" href="#">Terms of use</a>
    </div>
</div>