<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="Plan a visit">
    <title>Plan Your Visit | Hugh Lane Gallery</title>

    <meta name="Author"
          content="Aleksandra Jaworska Gareth Walsh Edward Xilong Zhang Yue Yu Pragya Vashishtha">
    <meta name="description"
          content="Hugh Lane Gallery houses the foremost public collection of contemporary art in Ireland; the gallery also has a dynamic temporary exhibitions programme often encompassing the permanent collection. " />
    <meta name="keywords"
          content="Bookshop,Art Gallery Dublin, Irish Exhibitions, Modern Art Galleries, Contemporary Exhibitions, Things to do in Dublin, tourist attraction Ireland, Places To Visit Ireland, Places to Visit Dublin" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/stylesheet.css" />

    <script src="app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>
    <div class="page-header">
        <h1 class="titleHeader float-left ml-4 mt-2 text-info"><a href = index.html>HUGH LANE GALLERY</a></h1>
        <h1 class="titleHeader float-right mr-4 mt-2 text-info"><a href = index.html>DÁNLANN AN HUGH LANE</a></h1>

        <h2 class="fee"><a>Admission free </a></h2>

        <!-- Navigation menu -->
        <nav class="navbar navbar-expand-sm navbar-fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Art
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Collections </a>
                            <a class="dropdown-item" href="#">Exhibitions</a>
                            <a class="dropdown-item" href="#">Artists A-Z </a>
                            <a class="dropdown-item" href="#">Publications A-Z</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown  px-4">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Visit
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="visit.html#opening">Opening Hours</a>
                            <a class="dropdown-item" href="visit.html#access">Access & Facilities</a>
                            <a class="dropdown-item" href="visit.html#family">Family Tours</a>
                            <a class="dropdown-item" href="visit.html#guided">Guided Tours</a>
                            <a class="dropdown-item" href="visit.html#cafe">Café and Bookshop</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown  px-4">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            What's on
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Collections </a>
                            <a class="dropdown-item" href="#">Exhibitions</a>
                            <a class="dropdown-item" href="#">Artists A-Z </a>
                            <a class="dropdown-item" href="#">Publications A-Z</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown  px-4">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Learn & Engage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Collections </a>
                            <a class="dropdown-item" href="#">Exhibitions</a>
                            <a class="dropdown-item" href="#">Artists A-Z </a>
                            <a class="dropdown-item" href="#">Publications A-Z</a>
                        </div>
                    </li>
                    <li class="nav-item  px-4">
                        <a class="nav-link  text-dark" href="#">Shop</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>

    </div>

    <div class="mt-2">

        <div class="card border-0 mx-5 my-5" style="max-width:100%">
            <div class="row my-5">
                <div class="col-md-5">
                    <div class="card-body-top visit">
                        <h5 class="card-title visit_title font-weight-bold"><a id="opening">Opening Hours</a></h5>
                        <br><img src="../photos/openinghours.JPG" width="480px" height= "auto" class="card-img rounded-0" alt="A painting held by four hands-teh painting that is recovered after stolen" >
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body visit">
                        <p class="card-text px-2">
                            <br> Monday: Closed <br> <br>
                            Tuesday to Thursday: 9.45am – 6pm <br><br>
                            Friday: 9.45am – 5pm <br> <br>
                            Saturday: 10am – 5pm <br> <br>
                            Sunday: 11am – 5pm <br>
                            <br>
                            <strong>Admission to the Gallery is free</strong>
                            <br>The café and bookshop are open during gallery hours
                            <br>
                            <br>MAP available <a href = "https://www.hughlane.ie/phocadownload/pdf/gallery_map_large_v4.pdf">here</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card border-0 mx-5 my-5" style="max-width:100%">
            <div class="row my-5">
                <div class="col-md-7">
                    <div class="card-body visit">
                        <p class="card-text px-2">
                            <strong>Information Desk</strong> <br>
                            located on the right on entrance to the Gallery.<br> <br>
                            <strong>Toilets</strong> <br>
                            Accessible and standard toilets are located on the ground floor entrance hallway and on basement level.<br>
                            Baby changing facilities are available on both toilets. <br> <br>
                            <strong>Seating</strong><br>
                            Folding seats are available, just ask a member of staff or at the Information Desks.<br><br>
                            <strong>Lifts</strong><br>
                            A large lift beside the reception area, which provides access to all floors <br>
                            A small lift in the new wing corridor that provides access from the ground floor to the first floor exhibition galleries<br><br>
                            <strong>Cloakroom</strong> <br>
                            There is a cloakroom in the basement that is accessible via steps or the lift. <br><br>
                            <strong>Café and Bookshop</strong> <br>
                            The café and bookshop are open during gallery hours. For further information, please see http://localhost:63342/index.html/visit.html
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-body-top visit">
                        <h5 class="card-title visit_title font-weight-bold"><a id="access">Access and Facilities</a></h5>
                       <br><img src="../photos/access.JPG" width="480px" height= "auto" class="card-img rounded-0" alt="a woman sitting in Hugh Lane Gallery" >
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mx-5 my-5" style="max-width: 100% ">
            <div class="row my-5">
                <div class="col-md-5">
                    <div class="card-body-top visit">
                        <h5 class="card-title visit_title font-weight-bold"><a id="family">Family Tours</a></h5>
                        <br><img src="../photos/kidsclub.JPG" width="480px" height= "auto" class="card-img rounded-0" alt="Workshop in kids club at Hugh Lane" >
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body visit">
                        <p class="card-text px-2" >
                            Why not bring your kids to our kids club! <br><br>
                            The collection has been explored by children aged three to adults in their eighties during successful and popular programmes.
                            This new programmed, multi-purpose space allows for additional experimentation. <br>
                            <br>See lots of our lovely art idea films on the Gallery's
                            <a href = 'https://www.youtube.com/playlist?list=PLUil_e1LlOsrodDN7Lhc6Yza2MQ2JOIgp'>video presentation</a>
                            <br>
                            <br>For details of upcoming art workshops for children or view the Gallery's Education Programme pdf available
                            <a href = "https://www.hughlane.ie/phocadownload/the%20artist%20at%20work%20and%20drawing.pdf">here</a>
                            <br>
                            <br>Where advanced booking is required or where there is a workshop fee, places are booked through <a href="eventbrite.ie">eventbrite.ie</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mx-5 my-5" style="max-width:100%">
            <div class="row my-5">
                <div class="col-md-7">
                    <div class="card-body visit">
                        <p class="card-text px-2">
                            <strong>Guided Tour</strong> <br>
                            Guided tours can be booked by prior appointment with the Gallery’s Education Department, at €30 per group up to a max of 30 per group.<br>
                            <br>For further information, please click
                            <a href="http://www.hughlane.ie/guided-tours">here</a>
                            <br><br>
                            <strong>Self-guided Tour</strong> <br>
                            Self-led group visits to the Hugh Lane are free. <br> <br>
                            However groups must remain under the supervision of their group leaders and follow all regulations of the gallery and directions of gallery attendants.
                            <br><br>
                            Please contact the Education Department in advance of visiting the gallery on a self guided tour to ensure that the visit does not clash with other pre-arranged events stating in your email that you are intending to visit on a self guided visit.
                            <br><br>
                            <strong>Group Visits</strong><br>
                            Due to reduced capacity during refurbishment, all tours or large groups should be booked in advance (even when a guide is not required)
                        </p>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-body-top visit">
                        <h5 class="card-title visit_title font-weight-bold"><a id="guided">Guided Tours</a></h5>
                        <br><img src="../photos/group.JPG" width="480px" height= "auto" class="card-img rounded-0" alt="A group of arts students visiting Hugh Lane Gallery" >
                    </div>
                </div>
            </div>
        </div>

        <div class="card border-0 mx-5 my-5" style="max-width: 100% ">
            <div class="row my-5">
                <div class="col-md-5">
                    <div class="card-body-top visit">
                        <h5 class="card-title visit_title font-weight-bold"><a id="cafe">Café & Bookshop</a></h5>
                        <br><img src="../photos/cafe.JPG" width="480px" height= "auto" class="card-img rounded-0" alt="Hugh Lane Gallery cafe" >
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="card-body visit">
                        <div class="card-text px-2" >
                            <br><br>The café, <a href = "https://www.hatchandsons.co/"><strong>Hatch and Sons</strong></a>,
                            is temporarily closed but looks forward to reopening as soon as possible.
                            <br><br>
                            The <a href="bookshop.html"><strong>bookshop</strong></a> is open during gallery hours. <br><br>

                            Our Bookshop carries a wide selection, including publications about the Gallery and our exhibitions past and present. <br><br>

                            All cleaned regularly. <br><br>

                            For further information please email gallerybookshughlane@gmail.com <br> or telephone +353 (0)89 2202855. <br><br>

                            Follow on <a href="#">Instagram</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="bg-info">

        <!-- Navigation menu -->
            <nav class="navbar navbar-expand-sm ml-4 mr-5 bg-info">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Links -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                About
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Hugh Lane</a>
                                <a class="dropdown-item" href="#">Charlemont House</a>
                                <a class="dropdown-item" href="#">The Gallery</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Related Documents</a>
                            </div>
                        </li>
                        <li class="nav-item px-4" >
                            <a class="nav-link text-white" href="#">Support</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="#">Contact</a>
                        </li>
                        <li class="nav-item px-4">
                            <a class="nav-link text-white" href="#">Career</a>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-primary float-right" onclick="topFunction()">Top</button>
                </div>
            </nav>
            <!-- <div class="jumbotron"> -->
            <div class="ml-5 mr-5">
                <div class="clearfix">
                    <div class="form-group float-left">
                        <h2 class="footer-text text-white"> <label for="mailList">
                            <br>Join our mailing list:</label> </h2>
                        <div class="input-group-append">
                            <input type="text" class="form-control w-100" id="mailList">
                            <button type="button" class="btn btn-primary ml-2">Join</button>
                        </div>
                        <div>
                            <br>  <br>
                            <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;
                            <a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp;
                            <a href="#" class="fa fa-instagram"></a>&nbsp;&nbsp;
                            <a href="#" class="fa fa-youtube"></a>&nbsp;&nbsp;
                            <a href="#" class="fa fa-linkedin"></a>&nbsp;&nbsp;
                        </div>

                    </div>
                    <div class="float-right">
                        <h2><br>Charlemont House, Parnell Square N, <br>Rotunda Dublin, D01 F2X9
                            <br> <small>Closed today </small>
                        </h2>
                        <h2 class= "mt-4"><br>High Contrast Mode</h2>
                    </div>
                </div>

                <div class="d-flex flex-row justify-content-center float-none">
                    <a class="p-4 text-dark" href="#">Privacy Policy</a>
                    <a class="p-4 text-dark" href="#">Terms of use</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>