<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="Talks">
    <title>Join our talks</title>

    <meta name="Author"
          content="Aleksandra Jaworska Gareth Walsh Edward Xilong Zhang Yue Yu Pragya Vashishtha">
    <meta name="description"
          content="Hugh Lane Gallery houses the foremost public collection of contemporary art in Ireland; the gallery also has a dynamic temporary exhibitions programme often encompassing the permanent collection. " />
    <meta name="keywords"
          content="Bookshop,Art Gallery Dublin, Irish Exhibitions, Modern Art Galleries, Contemporary Exhibitions, Things to do in Dublin, tourist attraction Ireland, Places To Visit Ireland, Places to Visit Dublin" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../styles/stylesheet.css" />

    <script src="app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>

<body>
<div class="page-header">
    <h1 class="titleHeader float-left ml-4 mt-2 text-info"><a href = "../../index.html">HUGH LANE GALLERY</a></h1>
    <h1 class="titleHeader float-right mr-4 mt-2 text-info"><a href = "../../index.html">DÁNLANN AN HUGH LANE</a></h1>

    <h2 class="fee"><a>Admission free </a></h2>

    <!-- Navigation menu -->
    <nav id="navbar_top" class="navbar navbar-expand-sm bg-white">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item  px-4">
                    <a class="nav-link  text-dark" href="learn-engage.html">Overview</a>
                </li>
                <li class="nav-item  px-4">
                    <a class="nav-link  text-dark" href="courses.html">Courses</a>
                </li>
                <li class="nav-item  px-4">
                    <a class="nav-link  text-dark" href="Programmes.html">Programmes</a>
                </li>
                <li class="nav-item  px-4">
                    <a class="nav-link  text-dark" href="Talks.html">Talks</a>
                </li>
                <li class="nav-item  px-4">
                    <a class="nav-link  text-dark" href="Kids%20Club.html">Kids Club</a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

</div>


<!-- Main content -->

<!-- First card -->

<div class="card border-0" style="max-width:100%">
    <div class="row ">
        <div class="col-md-7">
            <img src="../../photos/talks.png" class="card-img rounded-0" alt="Images of Talks " >
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h5 class="card-title"><b>Seminars and Symposia</b></h5>
                <p class="card-text">We hope you continue to enjoy some of our  art education resources for students here
                    as well as our  series of  newly created talks and imaginative art activities that can be viewed on
                    the Gallery's <a href = "https://www.youtube.com/channel/UC-ul2v2RVcfveDkIAcvwWtQ"><strong>youtube channel</strong></a> and suggestions for reading, listening, watching and more as part of our Artists
                    Takeover series<br>
<!--                    <small class="text-muted"></small></p>-->

            </div>
        </div>
    </div>
</div>

<!-- Second card -->

<div class="card border-0" style="max-width:100%">
    <div class="row">
        <div class="col-md-5 ">
            <div class="card-body ">
                <h5 class="card-title "><b>The Eve of St Agnes by Harry Clarke</b></h5>
                <p class="card-text">The Eve of St Agnes is a stained glass masterpiece designed and made by the great Irish artist Harry Clarke.
                    <a href = "https://www.hughlane.ie/phocadownload/harry%20clarke%20art%20activities.pdf"><strong>Here</strong></a> you can download art activities inspired by this beautiful window.</p>
                <p class="card-text"><small class="text-muted">Watch an online talk on Harry Clarke's The Eve of St Agnes <a href = "https://www.youtube.com/watch?v=6wvySbGj46c"><strong>here</strong></a></small></p>
            </div>
        </div>
        <div class="col-md-7">
            <img src="../../photos/st.png" class="card-img rounded-0" alt="Image of St Agnes">
        </div>
    </div>
</div>

<!-- Third card -->
<div class="card border-0" style="max-width:100%">
    <div class="row ">
        <div class="col-md-7">
            <img src="../../photos/audiodis.png" class="card-img rounded-0" alt="Image of Art History courses" >
        </div>
        <div class="col-md-5">
            <div class="card-body">
                <h5 class="card-title"><b>Audio Description for visually impaired</b></h5>
                <p class="card-text">Audio description for people with a visual impairment.<br>
                    Live online audio description of artworks also take place regularly
                    and to find out details of upcoming online audio description talks<br>
                    <small class="text-muted"> please
                        see: <a href = "see: http://www.hughlane.ie/lectures/forthcoming-lectures"><strong>here</strong></a></small></p>
            </div>
        </div>
    </div>
</div>

<div class="card border-0" style="max-width: 100% ">
    <div class="row">
        <div class="col-md-5">
            <div class="card-body">
                <h5 class="card-title">Contact</h5>
                <p class="card-text"><small class="text-muted">Jessica O'Donnell<br>
                    e: jodonnell.hughlane@dublincity.ie<br>
                    t: +353 1 222 5558<br>
                </small></p>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->

<div id="footer" class="bg-info">

    <!-- Navigation menu -->
    <nav class="navbar navbar-expand-sm ml-4 mr-5 bg-info">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Hugh Lane</a>
                        <a class="dropdown-item" href="#">Charlemont House</a>
                        <a class="dropdown-item" href="#">The Gallery</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Related Documents</a>
                    </div>
                </li>
                <li class="nav-item px-4" >
                    <a class="nav-link text-white" href="#">Support</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="#">Contact</a>
                </li>
                <li class="nav-item px-4">
                    <a class="nav-link text-white" href="#">Career</a>
                </li>
            </ul>
            <button type="button" class="btn btn-primary float-right" onclick="topFunction()">Top</button>
        </div>
    </nav>
    <!-- <div class="jumbotron"> -->
    <div class="ml-5 mr-5">
        <div class="clearfix">
            <div class="form-group float-left">
                <h2 class="footer-text text-white"> <label for="mailList">
                    <br>Join our mailing list:</label> </h2>
                <div class="input-group-append">
                    <input type="text" class="form-control w-100" id="mailList">
                    <button type="button" class="btn btn-primary ml-2">Join</button>
                </div>
                <div>
                    <br>  <br>
                    <a href="#" class="fa fa-facebook"></a>&nbsp;&nbsp;
                    <a href="#" class="fa fa-twitter"></a>&nbsp;&nbsp;
                    <a href="#" class="fa fa-instagram"></a>&nbsp;&nbsp;
                    <a href="#" class="fa fa-youtube"></a>&nbsp;&nbsp;
                    <a href="#" class="fa fa-linkedin"></a>&nbsp;&nbsp;
                </div>

            </div>
            <div class="float-right">
                <h2><br>Charlemont House, Parnell Square N, <br>Rotunda Dublin, D01 F2X9
                    <br> <small>Closed today </small>
                </h2>
                <h2 class= "mt-4"><br>High Contrast Mode</h2>
            </div>
        </div>

        <div class="d-flex flex-row justify-content-center float-none">
            <a class="p-4 text-dark" href="#">Privacy Policy</a>
            <a class="p-4 text-dark" href="#">Terms of use</a>
        </div>
    </div>
</div>
</div>

</body>
</html>